@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'tailwindcss';
.input {
  @apply w-full px-4 py-3 rounded-xl bg-white/20 text-white
  placeholder-blue-200 focus:outline-none focus:ring-2 focus:ring-cyan-400;
}
